* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: #ececec;
}

header {
    text-align: center;
}

header>h1 {
    padding-top: 1rem;
    background-color: #fff;
}

#filter_buttons {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}

.filter {
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    margin: 0;
    cursor: pointer;
    font-family: sans-serif;
}

.filter:hover {
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
}

.clicked {
    color:rgba(0, 0, 0, 1);
    border-bottom: solid 2px rgba(0, 0, 0, 1)
}

main {
    max-width: 1100px;
}

main>h2 {
    text-align: center;
}

h1, h2, h3, p {
    padding-bottom: 1rem;
    font-family: sans-serif;
}

#actors {
    display: flex;
    flex-wrap: wrap;
}

.actor {
    flex-basis: 100%;
    flex-grow: 1;
    background-color: #ffffff;
    margin: 0 15px 15px 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#popup>article {
    position: relative;
    margin: 4rem auto;
    padding: 15px;
    width: 80vw;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    font-family: sans-serif;
}

.popup_column {
    flex-basis: 45%;
    flex-grow: 1;
} 

footer {
    background-color: #343434;
    color: #ececec;
    font-family: sans-serif;
}

ul {
    list-style: none;
    text-align: center;
    padding: 2rem;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .actor {
        flex-basis: 45%;
    }

    .actor:nth-of-type(odd) {
        margin: 0 7.5px 15px 0;
    }

    .actor:nth-of-type(even) {
        margin: 0 0 15px 7.5px;
    }

    .actor:last-child {
        max-width: 542.5px;
    }

    #popup>article {
        width: 50vw;
    }
}